@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i');

body {
  font-family: 'Merriweather', serif;
  font-size: 0.5em;
  margin: 0px;
  padding: 0px;
}

.wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
}

.body_main {
  width: 1024px;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
  background-color: white;
}

 .leftCol {
  width: 23%;
  height: 300px;
  float: left;
 
} 

.midCol {
  width: 50%;
  height: 100%;
  margin-left: 2%;
  float: left;
  background-color: tomato;
}

.newComment {
  width: 90%;
  height: auto;
  margin: 7px;
  float: left;
  background-color: aqua;
}

p {
  color: #383838;
  font-size: 1.5em;
  font-weight: 900;
}

.btn {
  height: 5%;
  width: 5%;
  background-color: aqua; 
  border: none; 
  color: black; 
  margin-right: 2.5%;
  cursor: pointer; 
}

.btn:hover {
  background-color: RoyalBlue;
}

i {
    height: 5%;
}

.username {
    font-size: .75em;
}

.submit-btn {
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 0px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar{
  position: absolute;
  padding-top: 60px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  
}

.icon-text {
  vertical-align: middle;
}

.material-icons {

  margin-right: 30px
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#eduButton{
    width: 100%;
    /* height: 10%; */
    font-family: Lato;
    /* font-size: 20px; */
}

#otherButton{
    width: 100%;
    /* height: 10%; */
    font: Lato;
}

#repRetButton{
    width: 100%;
    /* height: 10%; */
    font: Lato;
    /* font-size: 17px; */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.rep-name{
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    color: white;
}