.btn {
    float: center;
    align-content: center;
}

.container {
    padding-top: 5%;
    width: 100%;
    float: left;
}

#navBar {
    width: 100%;
    float: left;
    margin-left: -15px
}

#logo {
    margin-top: 12px;
    margin-left: 46%;
}
